.nav {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	margin: 0 auto;
	margin-left: 320px !important;
}

.banner{
	width: 100%;
	height: 200px;
	background: url('bannerpic.jpg') no-repeat;
    background-size: 100%;
}

.heading{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.panel-default{
	margin-top: 20px;
}

.destress-container{
margin: 0 auto;
text-align: center;
}

body {
	background: url('background.jpg');
	background-position: center;
	background-size: 100% auto;
}